@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=DM+Sans:wght@300;400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-display: 'Bebas Neue', sans-serif;
  --font-sans: 'DM Sans', sans-serif;

  --color-gold: #c9a84c;
  --color-gold-light: #dbb85a;

  --animate-fadeUp: fadeUp 0.5s ease both;

  --color-primary: #ffd829;
  /*Amarillo*/
  --color-secondary: #f7f7f7;
  /*Blanco*/
  --color-tertiary: #323236;
  /*Gris*/
  --color-quaternary: #151517;
  /*Negro*/
  --color-whiteLight: #f7f7f786;
  /*Blanco Ligero*/
}

@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(14px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeUp {
  opacity: 0;
}


body {
  font-family: "Noto Sans Display", sans-serif;
}

* {
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE / Edge */
}

*::-webkit-scrollbar {
  display: none;
  /* Chrome / Safari */
}

.mogra-regular {
  font-family: "Mogra", system-ui;
  font-weight: 400;
  font-style: normal;
}

.kaushan-script-regular {
  font-family: "Kaushan Script", cursive;
  font-weight: 400;
  font-style: normal;
}


.hero-auth {
  background-image:
    linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(/images/hero-movil.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

@media (min-width: 768px) {
  .hero-auth {
    background-image:
      linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(/images/hero-desktop.jpg);

  }
}

input[type="datetime-local"]::-webkit-calendar-picker-indicator {
  display: none;
}